@font-face {
    font-family: 'bpdotssquaresregular';
    src: url('BPdotsSquare-webfont.eot');
    src: url('BPdotsSquare-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

